
<%- scope = local_assigns[:scope] ? local_assigns[:scope] : BetterTogether::Content::Block.block_name %>
<div class="template-fields">
  <%= required_label block, :journey_stage %>
  <%= select_tag "#{scope}[journey_stage_id]", options_from_collection_for_select(JourneyStage.positioned.all, :id, :name, block.journey_stage_id), class: 'form-select' %>
</div>
