
<%- scope = local_assigns[:scope] ? local_assigns[:scope] : BetterTogether::Content::Block.block_name %>
<div class="template-fields">
  <%= required_label block, :stage %>
  <%= select_tag "#{scope}[stage]", options_for_select(block.class::AVAILABLE_STAGES.map { |stage| [ I18n.t("journey_maps.stages.#{stage}"), stage] }, block.stage), class: 'form-select' %>
</div>
