
<h1>Better Together</h1>

<p><a href="https://travis-ci.com/better-together-org/better-together"><img src="https://travis-ci.com/better-together-org/better-together.svg?branch=master" alt="Build Status" /></a></p>

<table>
  <tbody>
    <tr>
      <td><a href="mailto:better.together.coop@gmail.com?subject=Invitation">Join Us!</a></td>
      <td><a href="https://www.linkedin.com/company/better-together-coop/">LinkedIn</a></td>
    </tr>
  </tbody>
</table>

<h2 id="we-are-better-together">We Are Better Together</h2>

<p>We are a community of and for community builders. Our members are working together to build a better tomorrow. We promote local resilience by encouraging people to communicate with and support one another and share their knowledge, skills, resources and time.</p>

<p>The Better Together Community Engine is currently in the design phase and is undergoing preliminary development. We are currently looking for people and organizations to join and help build the platform.</p>

<h2 id="cooperative-organization-structure">Cooperative Organization Structure</h2>
<p>Better Together was founded to collaboratively design, build and maintain a community platform owned and operated by its members. Better Together is a cooperative community where you belong and make the decisions. By operating as a cooperative, members will make decisions together through proposals, discussions and voting.</p>

<h2 id="partner-organizations">Partner Organizations</h2>
<p>Better together is proud to partner with its member organizations to support the development of the platform. If you would like to become a development partner, please get in touch.</p>

<p><a href="http://alpha.joatu.org/" target="_blank" title="Joatu"><img width="300" src="<%= image_path('partners/joatu.png') %>" alt="Joatu" /></a>
<a href="https://citsci.geog.mcgill.ca/" target="_blank" title="DRAW: Data Rescue Archives and Weather"><img width="300" src="<%= image_path('partners/DRAW.png') %>" alt="DRAW: Data Rescue Archives and Weather" /></a></p>

<h2 id="project-architecture">Project Architecture</h2>
<p>The Better Together platform is designed to be a modular system. It can either be deployed as a standalone application for full functionality, or one or more of its independent plugins can be integrated into third-party applications for a subset of its features.</p>

<h3 id="better-together-1">Better Together</h3>
<ul>
  <li>Main wrapper application for the platform</li>
</ul>

<h3 id="better-together-community-engine">Better Together Community Engine</h3>
<ul>
  <li>Access to all the platform features from all specific domain applications</li>
</ul>

<h3 id="gather-together">Gather Together</h3>
<ul>
  <li>Provides mechanisms to both join and invite people to groups or other entities</li>
  <li>People can create, join, and invite others to groups.</li>
</ul>

<h4 id="communicate-together">Communicate Together</h4>
<ul>
  <li>Communication and social interaction component</li>
  <li>Responsible for information publishing (Pages), discussions (Discussions, Posts, Comments)</li>
</ul>

<h4 id="organize-together">Organize Together</h4>
<ul>
  <li>Planning and Scheduling</li>
  <li>Responsible for collaborative organization features, including Projects, Planning, and Scheduling</li>
  <li>Will aid in finding available times and places</li>
</ul>

<h4 id="trade-together">Trade Together</h4>
<ul>
  <li>Asset management and trade component</li>
  <li>Responsible for managing inventory of assets (items), as well as trade among members</li>
</ul>

<h4 id="decide-together">Decide Together</h4>
<ul>
  <li>Decision making and history component</li>
</ul>
