<div id="<%= dom_id(journey_map, :pages) %>" class="journey-map-pages" data-journey-map-target="pages">
  <h4>Pages</h4>
  <% if pages.any? %>
    <%= render partial: 'journey_maps/page', collection: pages, locals: { journey_map: journey_map } %>
  <% elsif @topic %>
    <p>No <%= topic.name %> pages available yet.</p>
  <% else %>
    <p>No topic pages available yet.</p>
  <% end %>
</div>