<div id="<%= dom_id(journey_map, :resources) %>" class="journey-map-resources" data-journey-map-target="resources">
  <h4>Resources</h4>
  <% if resources.any? %>
    <%= render partial: 'resources/resource', collection: resources, locals: { journey_map: journey_map } %>
  <% elsif @topic %>
    <p>No <%= topic.name %> resources available yet.</p>
  <% else %>
    <p>No topic resources available yet.</p>
  <% end %>
</div>