
<%# locals: (tour:) %>

<%= render 'better_together/shared/card', entity: tour do %>
  <% if tour.starts_at.present? %>
    <div class="tour-datetime card-text text-muted mt-2">
      <i class="fas fa-calendar-alt me-2"></i> <%= l(tour.starts_at, format: :tour) %>
    </div>
  <% end %>
<% end %>

