<% content_for :page_title, @venue %>

<div class="container mt-5">
  <h1 class="mb-4"><i class="fas fa-map-marker-alt"></i> Edit Venue</h1>

  <div class="card shadow-sm">
    <div class="card-body">
      <%= render 'form', venue: @venue, buildings: @buildings %>
    </div>
  </div>
</div>
