<div class="container mt-4">
  <!-- Page Heading -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-primary"><i class="fas fa-map-marker-alt"></i> Venues</h1>
    <% if policy(Venue).create? %>
      <%= link_to "New Venue", new_venue_path, class: "btn btn-success" %>
    <% end %>
  </div>

  <% if venues_map %>
    <section class="venues-map my-4">
      <%= render partial: 'better_together/shared/map', locals: { map: venues_map, use_label_as_popup: true } %>
    </section>
  <% end %>

  <!-- Venues Grid -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <%= render @venues %>
  </div>
</div>