<div class="container mt-5">
  <h1 class="text-primary mb-4"><i class="fas fa-map-marker-alt"></i> New Venue</h1>

  <div class="card shadow-sm">
    <div class="card-body">
      <%= render 'form', venue: @venue %>
    </div>
  </div>
</div>