default: &default
  url: <%= ENV["REDIS_URL"] || 'redis://localhost:6379' %>

development:
  <<: *default
  verbose: true
  queues:
    - [default, 1]   # Default queue with priority 1
    - [mailers, 2]   # Mailers queue with priority 2
    - [metrics, 3]   # Metrics queue with priority 3 (lower priority)

test:
  <<: *default
  queues:
    - default
    - mailers

production:
  <<: *default
  queues:
    - [nl_venues_production_default, 1]   # Default queue with priority 1
    - [nl_venues_production_mailers, 2]   # Mailers queue with priority 2
    - [nl_venues_production_metrics, 3]   # Metrics queue with priority 3 (lower priority)