
<div class="container my-3">
  <h3 class="fw-light text-center">No matter the stage of you're journey, we can help</h3>
    <div class="row">
      <!-- Feature 1 -->
      <div class="col-md-4">
        <div class="card hover-effect mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Prepare for Your New Journey</h5>
            <p class="card-text">
              Start your relocation with confidence by accessing essential resources and checklists. Learn about visa requirements, housing options, and cultural insights to ensure a smooth transition to Newfoundland and Labrador.
            </p>
            <a href="/pre-arrival" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <!-- Feature 2 -->
      <div class="col-md-4">
        <div class="card hover-effect mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Welcome to Newfoundland and Labrador</h5>
            <p class="card-text">
              Navigate your first days with ease using our arrival guides. Find information on transportation, setting up utilities, understanding local services, and connecting with the community to make your arrival seamless and welcoming.
            </p>
            <a href="/arrival" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <!-- Feature 3 -->
      <div class="col-md-4">
        <div class="card hover-effect mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Thrive in Your New Home</h5>
            <p class="card-text">
              Establish yourself confidently with comprehensive settlement support. Access resources on employment, education, healthcare, language training, and community engagement to help you build a fulfilling life in Newfoundland and Labrador.
            </p>
            <a href="/settlement" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
</div>
