<div class="container my-3">
  <h3 class="fw-light text-center mb-4">No importa la etapa de tu viaje, podemos ayudarte</h3>
    <div class="row row-cols-1 row-cols-md-3">
      <!-- Feature 1 -->
      <div class="col mb-3">
        <div class="card journey-stage pre-arrival hover-effect mb-4 shadow-sm h-100 text-center">
          <div class="card-body">
            <h5 class="card-title">Pre-Llegada</h5>
            <p class="card-text">
              Comienza tu reubicación con confianza accediendo a recursos esenciales y listas de verificación. Infórmate sobre los requisitos de visa, opciones de vivienda e información cultural para asegurar una transición sin problemas a Terranova y Labrador.
            </p>
            <a href="<%= render_page_path('pre-arrival') %>" class="btn btn-info">Prepárate para Tu Nuevo Viaje</a>
          </div>
        </div>
      </div>
      <!-- Feature 2 -->
      <div class="col mb-3">
        <div class="card journey-stage arrival hover-effect mb-4 shadow-sm h-100 text-center">
          <div class="card-body">
            <h5 class="card-title">Llegada</h5>
            <p class="card-text">
              Navega tus primeros días con facilidad usando nuestras guías de llegada. Encuentra información sobre transporte, configuración de servicios, comprensión de servicios locales y cómo conectarte con la comunidad para hacer que tu llegada sea acogedora y sin complicaciones.
            </p>
            <a href="<%= render_page_path('arrival') %>" class="btn btn-info">Bienvenido a Terranova y Labrador</a>
          </div>
        </div>
      </div>
      <!-- Feature 3 -->
      <div class="col mb-3">
        <div class="card journey-stage settlement hover-effect mb-4 shadow-sm h-100 text-center">
          <div class="card-body">
            <h5 class="card-title">Asentamiento</h5>
            <p class="card-text">
              Establécete con confianza con un completo apoyo de asentamiento. Accede a recursos sobre empleo, educación, salud, entrenamiento de idiomas y participación comunitaria para ayudarte a construir una vida plena en Terranova y Labrador.
            </p>
            <a href="<%= render_page_path('settlement') %>" class="btn btn-info">Prospera en Tu Nuevo Hogar</a>
          </div>
        </div>
      </div>
    </div>
</div>