<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col col-md-4 text-center">
      <%= image_tag "sponsors/FACTOR-Acknowledge.png", alt: "FACTOR Acknowledgement Logo", class: "img-fluid" %>
    </div>
    <div class="col col-md-4 text-center">
      <%= image_tag "sponsors/NLVenues-Acknolwedgements1-CCA.jpg", alt: "NL Venues CCA Acknowledgement Logo", class: "img-fluid" %>
    </div>
    <div class="col col-md-4 text-center">
      <%= image_tag "sponsors/NLVenues-Acknolwedgements1-NL.jpg", alt: "NL Venues NL Acknowledgement Logo", class: "img-fluid" %>
    </div>
  </div>
</div>