
.journey_item_toggle {
  position: absolute;
  right: 0;
  left: auto;
  width: 2em;
  height: 2em;
  z-index: 1;

  /* Style for the button to remove default appearance */
  .journey-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;

    /* Adjust the icon stack size */
    .fa-stack {
      width: 2em;
      height: 2em;
      line-height: 2em;

      > * {
        transition: transform 0.3s ease, filter 0.3s ease;
      }
    }

    /* Hover effect: scaling and rotating the icon */
    &:hover .fa-circle {
      filter: brightness(1.15);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 50%;

      &::before {
        font-weight: 900;
      }
    }

    /* Hover effect: popping the icon forward slightly */
    &:hover .fa-stack-1x {
      color: white !important;
    }
  }

}

.content-block {
  position: relative;
}
