
$dark: #000;

@import 'theme';

$pre-arrival: $green-2;
$arrival: $teal;
$settlement: $blue-2;

/* Animation keyframes for shrinking and growing */
@keyframes shrink-grow {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(0.8); /* Shrinks to 80% */
  }
  100% {
    transform: scale(1); /* Grows back to original size */
  }
}

.map-canvas {
  flex-direction: column;
  justify-content: center;
  align-self: auto;
  align-items: center;
  display: flex;
  position: relative;
  aspect-ratio: 16 / 9;

  .journey-item {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 3fr;
    grid-auto-columns: 1fr;
    display: grid;
    z-index: 1;
    width: 85px;
    position: absolute;

    h3 {
      margin-top: 0;
      text-align: center;
      margin-bottom: 0;
      font-family: Zetafonts cocogoosepro, Verdana, sans-serif;
      font-size: 10px;
      font-weight: 200;
      line-height: 12px;
      overflow-wrap: normal;
    }

    a {
      color: $dark;
      overflow-wrap: anywhere;
      font-family: Zetafonts cocogoose pro, Verdana, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 18px;
      text-decoration: underline;
      transition: all .2s;

      .icon {
        vertical-align: middle;
        max-width: 100%;
        display: inline-block;
        border: 0;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        width: 100%;

        .icon-outline {
          font-size: 2.1em;
          transform: translateY(-2%);
        }
      }

      &:hover .icon {
        animation: shrink-grow 0.5s ease-in-out forwards;
      }
    }

    &.topic-0 {
      inset: 47% auto auto 5%;
    }

    &.topic-1 {
      inset: 77% auto auto 12%;
    }

    &.topic-2 {
      inset: 47% auto auto 22%;
    }

    &.topic-3 {
      inset: 20% auto auto 19%;
    }

    &.topic-4 {
      inset: 28% auto auto 33%;
    }

    &.topic-5 {
      inset: 66% auto auto 34.5%;
    }

    &.topic-6 {
      inset: 68% auto auto 50%;
    }

    &.topic-7 {
      inset: 62% auto auto 62%;
    }

    &.topic-8 {
      inset: 30% auto auto 48%;
    }

    &.topic-9 {
      inset: 15% auto auto 61.5%;
    }

    &.topic-10 {
      inset: 1% auto auto 47%;
    }

    &.topic-11 {
      inset: 45% auto auto 69%;
    }

    &.topic-12 {
      inset: 18% auto auto 78%;
    }

    &.topic-13 {
      inset: 46% auto auto 82%;
    }
  }

  .journey-bg {
    width: 100%;
    // width: 1024px;
    height: auto;
    // height: 576px;
    margin-top: 0;
    display: block;
    // position: absolute;
    inset: 0% auto auto 0%;

    &.mobile {
      display: none;
    }
  }

  &.blue {
    .icon-symbol {
      color: white;
    }
    .icon-bg {
      color: $settlement !important;
    }
    .icon-outline {
      color: darken($settlement, 20%) !important;
    }
  }

  &.green {
    .icon-symbol {
      color: white;
    }
    .icon-bg {
      color: $pre-arrival !important;
    }
    .icon-outline {
      color: darken($pre-arrival, 20%) !important;
    }
  }

  &.teal {
    .icon-symbol {
      color: white;
    }
    .icon-bg {
      color: $arrival !important;
    }
    .icon-outline {
      color: darken($arrival, 20%) !important;
    }
  }

  @media screen and (max-width: 991px) {
    .journey-item {
      width: 80px;

      &.topic-0 {
        inset: 47% auto auto 2%;
      }

      &.topic-1 {
        inset: 77% auto auto 12%;
      }

      &.topic-2 {
        inset: 47% auto auto 22%;
      }

      &.topic-3 {
        inset: 15% auto auto 19%;
      }

      &.topic-4 {
        inset: 28% auto auto 33%;
      }

      &.topic-5 {
        inset: 66% auto auto 34.5%;
      }

      &.topic-6 {
        inset: 68% auto auto 50%;
      }

      &.topic-7 {
        inset: 62% auto auto 62%;
      }

      &.topic-8 {
        inset: 30% auto auto 45%;
      }

      &.topic-9 {
        inset: 15% auto auto 60.5%;
      }

      &.topic-10 {
        inset: 1% auto auto 44%;
      }

      &.topic-11 {
        inset: 45% auto auto 69%;
      }

      &.topic-12 {
        inset: 18% auto auto 78%;
      }

      &.topic-13 {
        inset: 46% auto auto 82%;
      }

      a {
        width: 80px;
        margin: auto;

        .icon {
          .fa-stack {
            height: 1.5em;
            line-height: 1.5em;
          }

          .icon-outline {
            font-size: 1.6em;
            transform: translateY(-1%);
          }

          .icon-bg {
            font-size: 1.5em;
          }

          .icon-symbol {
            font-size: 0.8em;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    & {
      aspect-ratio: 9 / 16;
    }

    .journey-item {
      a .icon .icon-outline {
        transform: translateY(-2%);
      }

      &.topic-0 {
        inset: 6% auto auto 39%;
      }

      &.topic-1 {
        inset: 13% auto auto 1%;
      }

      &.topic-2 {
        inset: 23% auto auto 31.5%;
      }

      &.topic-3 {
        inset: 16% auto auto 64%;
      }

      &.topic-4 {
        inset: 32% auto auto 61%;
      }

      &.topic-5 {
        inset: 35% auto auto 13%;
      }

      &.topic-6 {
        inset: 52% auto auto 2%;
      }

      &.topic-7 {
        inset: 62% auto auto 17%;
      }

      &.topic-8 {
        inset: 46% auto auto 46%;
      }

      &.topic-9 {
        inset: 61% auto auto 65.5%;
      }

      &.topic-10 {
        inset: 44% auto auto 77%;
      }

      &.topic-11 {
        inset: 71% auto auto 34%;
      }

      &.topic-12 {
        inset: 78% auto auto 63%;
      }

      &.topic-13 {
        inset: 83% auto auto 32%;

        &.entrepreneurship {
          inset: 83% auto auto 18%;
        }
      }
    }

    .journey-bg {
      width: 100%;
      z-index: -1;
      height: auto;
      margin-top: 0;
      inset: 0% auto auto 0%;
      display: none;

      &.mobile {
        display: block;
      }
    }
  }

  @media screen and (max-width: 376px) {
    .journey-item {
      width: 70px;

      &.topic-2 {
        inset: 24% auto auto 31.5%;
      }

      &.topic-5 {
        inset: 37% auto auto 13%;
      }

      &.topic-9 {
        inset: 62% auto auto 65.5%;
      }

      a {
        width: 70px;

        .icon {
          .fa-stack {
            height: 1em;
            line-height: 1em;
          }

          .icon-outline {
            font-size: 1.1em;
          }

          .icon-bg {
            font-size: 1em;
          }

          .icon-symbol {
            font-size: 0.5em;
          }
        }
      }
    }
  }

  // @media screen and (max-width: 374px) {
  //   .journey-item {
  //     &.topic-11 {
  //       inset: 78% auto auto 59%;
  //     }
  //   }
  // }
}

.content-block.journey-map {
  .journey-map-results > * {
    margin-bottom: 30px;
  }
}

.card.journey-stage {
  text-decoration: none;

  &:hover {
    color: $dark;
  }

  > .card-body {
    max-height: 30vh;
  }

  &.pre-arrival {
    background: $pre-arrival;
  }
  &.arrival {
    background: $arrival;
  }
  &.settlement {
    background: $settlement;
    color: $light;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > img {
      max-height: 50%;
    }
  }
}
