
// Better Together colour palette

$brand-accent: #FFB802;
$brand-text-dark: #00547E;
$brand-text-light: #f0f0f0;

$header-footer-bg: #FFF;

// Override the color variables in the host application
$primary: $brand-text-dark;
$secondary: $brand-accent;
// $secondary: $blue-2; /* Change to a different green */
// $success: $green-2;
// $info: $green-1;
// $warning: #C9B947;
// $danger: #BF4A47;
$text-opposite-theme-color: $brand-text-dark; /* Darker text */
$background-opposite-theme-color: $brand-text-light; /* Lighter background */
$light-background-text-color: $brand-text-dark;
$dark-background-text-color: $brand-text-light;

/* Define SCSS variables for common color properties */
$slider-track-color: lighten($secondary, 10%);
$slider-thumb-border-color: $primary;
// $slider-thumb-color: $beige;
$slider-track-height: 6px;
$slider-thumb-size: 15px;
$slider-thumb-border-size: 2px;

// Import the gem's SCSS styles after overriding the variables
@import 'better_together/theme';

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/maps";
@import "bootstrap/utilities";
@import "bootstrap/buttons";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  // background: linear-gradient(135deg, $beige-light, #ffffff);

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    // background-image: image-url('low-contrast-linen.png');
    background-repeat: repeat;
    // background-size: contain;
    opacity: 0.2;
    z-index: -1;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; /* Elegant font */
  letter-spacing: 1.25px; /* Slight letter spacing for better readability */
  text-transform: uppercase; /* Uppercase for headings */
  margin-bottom: 20px;
}

p {
  line-height: 1.7; /* Increased line height for better readability */
  font-family: 'Roboto', sans-serif; /* Clean body text font */
  margin-bottom: 20px;
}

input.form-control,
select.form-select,
div.form-select,
textarea.form-control {
  // background-color: $beige-light; // #EAF0CE
  border-color: $secondary;     // Blue border to add structure
}

.divider {
  // border-color: $beige; // #EAF0CE
}

#main-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: $header-footer-bg;
  color: $light-background-text-color;

  a {
    color: $light-background-text-color;
  }

  .dropdown-menu {
    background: $header-footer-bg;

    .dropdown-item:hover, .dropdown-item:active {
      color: $light-background-text-color;
      // background-color: $header-footer-bg;
    }
  }
}

#app-footer {
  background: $header-footer-bg;
  color: $light-background-text-color;

  a {
    color: $light-background-text-color;
  }

  .dropdown-menu {
    background: $header-footer-bg;

    .dropdown-item:hover, .dropdown-item:active {
      color: $light-background-text-color;
      // background-color: $beige;
    }
  }

  .navbar-text {
    color: $light-background-text-color;
  }
}

.navbar-nav .nav-link {
  position: relative;
  color: $primary;
  text-decoration: none; /* Remove default text underline */
  padding: 5px 10px;
  border-bottom: 4px solid transparent; /* Invisible border by default */
  transition: border-color 0.3s ease; /* Smooth transition for underline */
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  border-bottom: 4px solid $secondary; /* Add underline on hover/focus */
}

/* Animation keyframes for shrinking and growing */
@keyframes shrink-grow {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(0.8); /* Shrinks to 80% */
  }
  100% {
    transform: scale(1); /* Grows back to original size */
  }
}

/* Animation keyframes for shrinking and growing */
@keyframes shrink-grow-mild {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(0.95); /* Shrinks to 95% */
  }
  100% {
    transform: scale(1); /* Grows back to original size */
  }
}

.btn {
  // transition: transform 0.5s ease-in-out; /* Smooth animation for transform */
  transition: transform 0.3s ease;

  &:hover {
    // animation: shrink-grow-mild 0.5s ease-in-out forwards; /* Animates over 0.4 seconds */
    transform: scale(1.05); /* Slightly enlarges the button */
  }
}

a i.fas, a i.fa {
  // transition: transform 0.4s ease-in-out; /* Smooth animation for transform */
  transition: transform 0.3s ease;

  &:hover {
    // animation: shrink-grow 0.4s ease-in-out forwards; /* Animates over 0.4 seconds */
    transform: scale(1.05); /* Slightly enlarges the button */
  }
}

/* Custom Turbo Loading Bar Styles */
.turbo-progress-bar {
  height: 5px; /* Change the height of the loading bar */
  background: $secondary; /* Change the color of the loading bar */
  transition: width 0.2s ease-out, opacity 0.2s ease-out; /* Smooth transitions */
}

/* Progress bar container (takes full width of the page) */
#custom-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%; /* Initial width (will expand as page scrolls) */
  height: 5px; /* Same height as Turbo's default bar */
  background: $secondary; /* You can adjust this color to match your theme */
  z-index: 9999; /* Ensures it stays on top of other elements */
  transition: width 0.2s ease; /* Smooth progress bar transitions */
}

/* Links color fade */
a {
  transition: color 0.3s ease;
}

a:hover,
a.active {
  color: lighten($primary, 20%); /* Adjust hover color */
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.membership:hover,
.card.hover-effect:hover {
  transform: translateY(-10px); /* Lift the card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Add shadow */
}

.content-block.content_hero {
  .hero-background .hero-content .hero-heading {
    width: 100%;

    @media screen and (max-width: 431px) {
      font-size: 1.5em;
    }
  }
}

@media screen and (max-width: 431px) {
  .content-block.content_hero .hero-background .hero-content .hero-cta,
  .content-block.content_hero .hero-background .hero-content .hero-paragraph {
    font-size: 1em;
  }
}

.list-group-item.active {
  // background-color: $teal;
  // border-color: darken($teal, 10%);

  a {
    color: $dark-background-text-color;
  }
}

.list-group-item:hover {
  // background-color: lighten($teal, 10%);
  // border-color: darken($teal, 10%);

  a {
    color: $dark-background-text-color;
  }
}