
// New to NL colour palette
$blue-1: #004BA8;
$blue-2: #3E78B2;
$beige:  #EAF0CE;
$beige-light: lighten($beige, 10%);
$green-2: #70A288;
// $green-2: #538068; // variant
// $green-1: #214E34;
// $green-1: #30734C; // variant
$green-1: #406350; // variant

// Assign the gradient to a variable
$nl-gradient: linear-gradient(to right, $blue-1, $blue-2, $green-2, $green-1);
$nl-gradient-reversed: linear-gradient(to right, $green-1, $green-2, $blue-2, $blue-1);
$nl-gradient-blue: linear-gradient(to right, $blue-1, $blue-2);
$nl-gradient-vertical: linear-gradient(to bottom, $blue-1, $blue-2, $green-2, $green-1);
$nl-gradient-blue-vertical: linear-gradient(to bottom, $blue-1, $blue-2);
$nl-gradient-green-vertical: linear-gradient(to bottom, $green-2, $green-1);

// Override the color variables in the host application
$primary: $blue-1; /* Change to a different blue */
$secondary: $blue-2; /* Change to a different green */
$success: $green-2;
$info: $green-1;
$warning: #C9B947;
$danger: #BF4A47;
$text-opposite-theme-color: #222; /* Darker text */
$background-opposite-theme-color: #f0f0f0; /* Lighter background */
$light-background-text-color: #222;
$dark-background-text-color: #f0f0f0;

/* Define SCSS variables for common color properties */
$slider-track-color: lighten($secondary, 10%);
$slider-thumb-border-color: $primary;
$slider-thumb-color: $beige;
$slider-track-height: 6px;
$slider-thumb-size: 15px;
$slider-thumb-border-size: 2px;

// Import the gem's SCSS styles after overriding the variables
@import 'better_together/theme';

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/maps";
@import "bootstrap/utilities";
@import "bootstrap/buttons";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: linear-gradient(135deg, $beige-light, #ffffff);

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: image-url('low-contrast-linen.png');
    background-repeat: repeat;
    // background-size: contain;
    opacity: 0.2;
    z-index: -1;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; /* Elegant font */
  letter-spacing: 1.25px; /* Slight letter spacing for better readability */
  text-transform: uppercase; /* Uppercase for headings */
  margin-bottom: 20px;
}

p {
  line-height: 1.7; /* Increased line height for better readability */
  font-family: 'Roboto', sans-serif; /* Clean body text font */
  margin-bottom: 20px;
}

input.form-control,
select.form-select,
textarea.form-control {
  background-color: $beige-light; // #EAF0CE
  border-color: $blue-2;     // Blue border to add structure
}

.divider {
  border-color: $beige; // #EAF0CE
}

#main-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: $nl-gradient;
  color: $dark-background-text-color;

  a {
    color: $dark-background-text-color;
  }

  .dropdown-menu {
    background: $nl-gradient-blue-vertical;

    .dropdown-item:hover, .dropdown-item:active {
      color: $light-background-text-color;
      background-color: $beige;
    }
  }
}

#app-footer {
  background: $nl-gradient;
  color: $dark-background-text-color;

  a {
    color: $dark-background-text-color;
  }

  .dropdown-menu {
    background: $nl-gradient-blue-vertical;

    .dropdown-item:hover, .dropdown-item:active {
      color: $light-background-text-color;
      background-color: $beige;
    }
  }

  .navbar-text {
    color: $dark-background-text-color;
  }
}

.navbar-nav .nav-link {
  position: relative;
  color: $blue-1;
  text-decoration: none; /* Remove default text underline */
  padding: 5px 10px;
  border-bottom: 4px solid transparent; /* Invisible border by default */
  transition: border-color 0.3s ease; /* Smooth transition for underline */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  border-bottom: 4px solid $blue-1; /* Add underline on hover/focus */
}

/* Animation keyframes for shrinking and growing */
@keyframes shrink-grow {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(0.8); /* Shrinks to 80% */
  }
  100% {
    transform: scale(1); /* Grows back to original size */
  }
}

/* Animation keyframes for shrinking and growing */
@keyframes shrink-grow-mild {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(0.95); /* Shrinks to 95% */
  }
  100% {
    transform: scale(1); /* Grows back to original size */
  }
}

.btn {
  // transition: transform 0.5s ease-in-out; /* Smooth animation for transform */
  transition: transform 0.3s ease;

  &:hover {
    // animation: shrink-grow-mild 0.5s ease-in-out forwards; /* Animates over 0.4 seconds */
    transform: scale(1.05); /* Slightly enlarges the button */
  }
}

a i.fas, a i.fa {
  // transition: transform 0.4s ease-in-out; /* Smooth animation for transform */
  transition: transform 0.3s ease;

  &:hover {
    // animation: shrink-grow 0.4s ease-in-out forwards; /* Animates over 0.4 seconds */
    transform: scale(1.05); /* Slightly enlarges the button */
  }
}

/* Custom Turbo Loading Bar Styles */
.turbo-progress-bar {
  height: 5px; /* Change the height of the loading bar */
  background: $nl-gradient-reversed; /* Change the color of the loading bar */
  // box-shadow: 0 0 10px $blue-2, 0 0 5px $blue-2; /* Add a glow effect */
  // border-radius: 5px; /* Make the ends rounded */
  transition: width 0.2s ease-out, opacity 0.2s ease-out; /* Smooth transitions */
}

/* Progress bar container (takes full width of the page) */
#custom-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%; /* Initial width (will expand as page scrolls) */
  height: 5px; /* Same height as Turbo's default bar */
  background: $nl-gradient-reversed; /* You can adjust this color to match your theme */
  z-index: 9999; /* Ensures it stays on top of other elements */
  transition: width 0.2s ease; /* Smooth progress bar transitions */
}

/* Links color fade */
a {
  transition: color 0.3s ease;
}

a:hover {
  color: $green-2; /* Adjust hover color */
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.membership:hover,
.card.partner:hover,
.card.hover-effect:hover {
  transform: translateY(-10px); /* Lift the card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Add shadow */
}

